@media (max-width: 1050px) {
  .body-who__text {
    max-width: 50%;
    margin: 0px 0px 30px 0px;
  }
  iframe {
    width: 100%;
  }
  .who {
    padding: 50px 0px 100px 0px;
  }
  .who__top {
    margin: 0px 0px 60px 0px;
  }
  .who__row {
    flex-direction: column;
  }
  .who__video {
    flex: 1 1 100%;
    margin: 0px 0px 10px 0px;
    max-width: 100%;
    max-height: 100%;
  }
  .who__video .cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1000px) {
  .item-git:hover {
    background-color: #252b42;
    color: #fff;
    transform: scale(1.2);
    transition: transform 0.3s ease 0s,.02s ease background-color, .2s ease color;
  }
  .item-git:hover__btn {
    color: #fff;
    border: 1px solid #fff;
  }
  .item-git:hover .git-svg {
    fill: #fff;
    stroke: #fff;
  }
  .item-git:hover .git-svg_el {
    fill: #252b42;
    stroke: #fff;
  }
  .bottom-footer__item:hover {
    transform: scale(1.15);
  }
}

@media (max-width: 991.98px) {
  .git__column {
    padding: 0 10px;
  }
  .git__row {
    margin: 0 -10px;
  }
  .subscribe__submit {
    width: 80px;
  }
  .subscribe__input {
    height: 40px;
  }
  .subscribe__form {
    padding: 15px 30px;
  }
  .brands-page {
    padding: 30px 0px 0px 0px;
  }
  .brands-page__footer {
    height: 60px;
    margin: -60px 0px 0px 0px;
  }
  .brands-page__body {
    margin: 0px 0px 20px 0px;
  }
  .who__video .play:hover {
    box-shadow: 0 0 25px white;
    border-radius: 50%;
  }
  .practice {
    padding: 60px 0px 40px 0px;
  }
  .practice__row {
    margin: 0 -10px;
  }
  .practice__column {
    flex: 0 1 50%;
    padding: 0 10px;
    margin: 0px 0px 20px 0px;
  }
  .experience {
    padding: 80px 0px 60px 0px;
  }
  .experience__row {
    margin: 0 -10px;
  }
  .experience__column {
    flex: 0 1 50%;
    padding: 0 10px;
    margin: 0px 0px 20px 0px;
  }
  .advantages__row {
    flex-wrap: wrap;
  }
  .advantages__column {
    flex: 0 1 50%;
  }
  .advantages__column:last-child {
    flex: 1 1 100%;
    margin: 30px 0px 0px 0px;
  }
  .body-mainblock__text {
    color: #4e4e4e;
  }
  .mainblock__img {
    opacity: 0.5;
  }
  .menu__link {
    color: #4e4e4e;
  }
  .bottom-footer {
    padding: 20px 0px;
  }
  .item-body-footer__item {
    margin: 0px 0px 7px 0px;
  }
  .item-body-footer__title {
    margin: 0px 0px 15px 0px;
  }
  .body-footer {
    padding: 35px 0;
  }
  .header-footer {
    padding: 25px 0;
  }
  .header-footer__title {
    font-size: 22px;
  }
  .header-footer__btn {
    padding: 8px 30px;
    line-height: 150%;
  }
}

@media (max-width: 900px) {
  .body-footer__column_contacts {
    text-align: center;
  }
  .body-footer__columns {
    flex-direction: column;
    padding: 0px 0px 0px 0px;
  }
  .body-footer__row {
    flex-direction: column;
  }
}

@media (max-width: 880px) {
  .git__column {
    flex: 0 1 50%;
    margin: 0px 0px 15px 0px;
  }
  .git__column:last-child {
    flex: 1 1 100%;
    margin: 0px 0px 0px 0px;
  }
  .git__row {
    flex-wrap: wrap;
  }
  .body-brands__item {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subscribe__submit {
    width: 80px;
  }
  .subscribe__input {
    max-width: 250px;
  }
  .subscribe__name {
    font-size: 20px;
  }
  .brands-page {
    padding: 15px 0px 0px 0px;
  }
  .brands-page__body {
    margin: 0px 0px 0px 0px;
    padding: 0 60px;
  }
  .item-body-footer__title {
    margin: 0px 0px 10px 0px;
  }
}

@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 767.98px) {
  .item-git__logo {
    width: 60px;
    height: 60px;
  }
  .item-git__logo svg {
    width: 60px;
    height: 60px;
  }
  .git {
    padding: 60px 0px 80px 0px;
  }
  .git__top {
    margin: 0px 0px 50px 0px;
  }
  .body-brands__item {
    width: 50px;
    height: 50px;
  }
  .subscribe__name {
    margin: 0px 0px 10px 0px;
  }
  .subscribe__form {
    flex-direction: column;
    text-align: center;
    padding: 10px 30px;
  }
  .body-who__text {
    font-size: 13px;
  }
  .body-who__title {
    font-size: 30px;
  }
  iframe {
    height: 300px;
  }
  .who {
    padding: 30px 0px 50px 0px;
  }
  .who__top {
    margin: 0px 0px 20px 0px;
  }
  .who__video .play {
    width: 80px;
    height: 80px;
  }
  .item-practice__body {
    padding: 20px;
  }
  .practice {
    padding: 20px 0px 20px 0px;
  }
  .practice__top {
    margin: 0px 0px 25px 0px;
  }
  .body-mainblock__title {
    font-size: 50px;
  }
  .mainblock {
    padding: 150px 0;
  }
  .menu__item {
    padding: 10px 0;
    margin: 0px 0px 20px 0px;
    flex-wrap: wrap;
  }
  .menu__item:last-child {
    margin: 0px 0px 0px 0px;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    text-align: center;
    z-index: 7;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #fff;
    z-index: 2;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__icon {
    z-index: 8;
    display: block;
    position: relative;
    right: 0;
    top: 0;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon::before {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #252b42;
    content: "";
    top: 0;
  }
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #252b42;
    content: "";
    bottom: 0;
  }
  .menu__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #252b42;
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 47%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header__logo {
    margin: 0px 0px 0px 0px;
    font-size: 30px;
  }
  .header__container {
    justify-content: space-between;
  }
  .bottom-footer {
    padding: 10px 0px 20px 0px;
  }
  .bottom-footer__icons {
    justify-content: center;
    align-items: center;
  }
  .bottom-footer__text {
    margin: 0px 0px 10px 0px;
  }
  .bottom-footer__row {
    flex-direction: column;
    text-align: center;
  }
  .body-footer {
    padding: 20px 0;
  }
  .header-footer {
    padding: 15px 0;
  }
  .header-footer__row {
    flex-direction: column;
    text-align: center;
  }
  .header-footer__body {
    margin: 0px 0px 10px 0px;
  }
  .header-footer__title {
    font-size: 18px;
    margin: 0px 0px 5px 0px;
  }
  .header-footer__text {
    font-size: 14px;
  }
  .header-footer__btn {
    padding: 10px 20px;
    line-height: 110%;
    align-self: center;
  }
}

@media (max-width: 600px) {
  .git__column {
    flex: 1 1 100%;
  }
  .subscribe {
    padding: 10px 32px;
  }
  .subscribe__form {
    padding: 5px 0px 10px 0px;
  }
  .subscribe__name {
    margin: 0px 0px 5px 0px;
    font-size: 18px;
  }
  .subscribe__block {
    padding: 0px 0px 0px 0px;
  }
  .brands-page {
    padding: 5px 0px 0px 0px;
  }
  .brands-page__footer {
    height: 50px;
    margin: -50px 0px 0px 0px;
  }
  .brands-page__body {
    padding: 0 40px;
  }
  .advantages__column {
    flex: 1 1 100%;
  }
  .advantages__column:first-child {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 479.98px) {
  .item-git {
    padding: 30px 10px;
  }
  .item-git__logo {
    width: 50px;
    height: 50px;
  }
  .item-git__logo svg {
    width: 50px;
    height: 50px;
  }
  .item-git__btn {
    padding: 7px 15px;
  }
  .git {
    padding: 30px 0px 50px 0px;
  }
  .git__top {
    margin: 0px 0px 30px 0px;
  }
  .body-brands {
    display: flex;
    flex-wrap: wrap;
  }
  .body-brands__item {
    flex: 0 1 33.333%;
  }
  .body-brands__item img {
    max-width: 50px;
  }
  .subscribe {
    padding: 10px 10px;
  }
  .subscribe__submit {
    height: 30px;
  }
  .subscribe__input {
    width: 180px;
    height: 30px;
  }
  .subscribe__name {
    font-size: 16px;
  }
  .brands-page__footer {
    height: 40px;
    margin: -40px 0px 0px 0px;
  }
  .brands-page__body {
    padding: 0 10px;
  }
  .body-who__subtext {
    font-size: 12px;
  }
  .body-who__subtitle {
    font-size: 14px;
  }
  .body-who__text {
    max-width: none;
  }
  .body-who__title {
    font-size: 24px;
  }
  iframe {
    height: 200px;
  }
  .who__video .play {
    width: 60px;
    height: 60px;
  }
  .practice__column {
    flex: 1 1 100%;
  }
  .experience {
    padding: 60px 0px 20px 0px;
  }
  .experience__column {
    flex: 1 1 100%;
  }
  .experience__top {
    margin: 0px 0px 30px 0px;
  }
  .item-advantages {
    padding: 20px;
  }
  .body-mainblock__btn {
    text-align: center;
    padding: 7px;
  }
  .body-mainblock__btn_orange {
    margin: 0px 0px 15px 0px;
  }
  .body-mainblock__buttons {
    flex-direction: column;
  }
  .body-mainblock__text {
    font-size: 18px;
    line-height: 135%;
  }
  .body-mainblock__title {
    font-size: 42px;
  }
  .mainblock {
    padding: 140px 0;
  }
  .mainblock__body {
    max-width: none;
  }
  .top-block__text {
    font-size: 12px;
  }
  .top-block__title {
    font-size: 32px;
  }
}
